[req] 
prompt = no 
distinguished_name = dn 

[dn] 
CN = Lìcence Professionnelle AMIO   # Common Name / FQDN 
emailAddress = emmanuel.medina@univ-lorraine.fr 
O = Université de Lorraine          # Organization Name 
OU = IUT de Saint-Dié des Vosges    # Organization Unit Name 
L = Saint-Dié des Vosges            # Locality Name 
C = FR                              # Country 

[v3_ca] 
subjectKeyIdentifier = hash 
authorityKeyIdentifier = keyid:always,issuer 
basicConstraints = critical, CA:true 
keyUsage = critical, digitalSignature, cRLSign, keyCertSign 