[req] 
prompt = no 
distinguished_name = dn 

[dn] 
CN = localhost                             # Nom commun (Common Name / FQDN) 
emailAddress = emmanuel.medina@univ-lorraine.fr 
O = 大阪大学                                # Ōsaka Daigaku (Université d'Osaka) 
OU = Факультет радиотехники и кибернетики  # Département d'Ingénierie Radio et Cybernétique 
L =  الإسكندرية                             # al-ʾIskandariyya (Alexandrie) 
C = IT  
