[req] 
prompt = no 
distinguished_name = dn

[dn] 
CN = www.raspberry.home
emailAddress = emmanuel.medina@univ-lorraine.fr
O = Dpt Génie Electrique
OU = Applications Mobiles
L = Saint-Dié des Vosges
C = FR
