[req] 
prompt = no 
distinguished_name = dn 

[dn] 
CN = workshop.neotechweb.net                             # Nom commun (Common Name / FQDN) 
emailAddress = emmanuel.medina@univ-lorraine.fr 
O = IUT des Saint Dié des Vosges
OU =  Département Informatique
L =  Saint-Dié des Vosges 
C = FR  
