blockquote {

  &.objectif {
    color: #2160c4;
    border-color: #3273dc;
    background-color: #eef3fc;
  }

  &.warning {
    color: #947600;
    border-color: #ffdd57;
    background-color: #fffbeb;
  }
}
