blockquote {

  padding: 1em;
  border-width: 1px 1px 1px 0.33em;
  border-color: #333;
  border-style: solid;
  margin: 0 0 1rem 0;
  
  &.objectif {
    color: #2160c4;
    border-color: #3273dc;
    background-color: #eef3fc;
  }

  &.warning {
    color: #947600;
    border-color: #ffdd57;
    background-color: #fffbeb;
  }
}
