.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-slate-950 {	color: rgb(2, 6, 23); }

.px-4 {	
  padding-left: 1rem; 
  padding-right: 1rem; 
}

.my-8	{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@import "primer-support/index.scss";
@import "primer-base/index.scss";
@import "primer-utilities/index.scss";
@import "primer-layout/index.scss";
@import "primer-markdown/index.scss";
@import "blockquote.scss";
@import "rouge";
