@layer base {

  /* Background */ .bg { background-color: #ffffff; }
  /* PreWrapper */ .chroma { background-color: #ffffff; }
  /* Other */ .chroma .x {  }
  /* Error */ .chroma .err { @apply text-red-600; }
  /* CodeLine */ .chroma .cl {  }
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
  /* LineHighlight */ .chroma .hl { background-color: #ffffcc }
  /* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
  /* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
  /* Line */ .chroma .line { display: flex; }
  /* Keyword */ .chroma .k { @apply text-sky-600 }
  /* KeywordConstant */ .chroma .kc { @apply text-sky-600 }
  /* KeywordDeclaration */ .chroma .kd { @apply text-sky-600 }
  /* KeywordNamespace */ .chroma .kn { @apply text-sky-600 }
  /* KeywordPseudo */ .chroma .kp { @apply text-sky-600 }
  /* KeywordReserved */ .chroma .kr { @apply text-sky-600 }
  /* KeywordType */ .chroma .kt { color: #2b91af }
  /* Name */ .chroma .n {  }
  /* NameAttribute */ .chroma .na {  }
  /* NameBuiltin */ .chroma .nb { color: #2b91af }
  /* NameBuiltinPseudo */ .chroma .bp {  }
  /* NameClass */ .chroma .nc { color: #2b91af }
  /* NameConstant */ .chroma .no {  }
  /* NameDecorator */ .chroma .nd {  }
  /* NameEntity */ .chroma .ni {  }
  /* NameException */ .chroma .ne {  }
  /* NameFunction */ .chroma .nf {  }
  /* NameFunctionMagic */ .chroma .fm {  }
  /* NameLabel */ .chroma .nl {  }
  /* NameNamespace */ .chroma .nn {  }
  /* NameOther */ .chroma .nx {  }
  /* NameProperty */ .chroma .py {  }
  /* NameTag */ .chroma .nt {  }
  /* NameVariable */ .chroma .nv {  }
  /* NameVariableClass */ .chroma .vc {  }
  /* NameVariableGlobal */ .chroma .vg {  }
  /* NameVariableInstance */ .chroma .vi {  }
  /* NameVariableMagic */ .chroma .vm {  }
  /* Literal */ .chroma .l {  }
  /* LiteralDate */ .chroma .ld {  }
  /* LiteralString */ .chroma .s { @apply text-red-700 }
  /* LiteralStringAffix */ .chroma .sa { @apply text-red-700 }
  /* LiteralStringBacktick */ .chroma .sb { @apply text-red-700 }
  /* LiteralStringChar */ .chroma .sc { @apply text-red-700 }
  /* LiteralStringDelimiter */ .chroma .dl { @apply text-red-700 }
  /* LiteralStringDoc */ .chroma .sd { @apply text-red-700 }
  /* LiteralStringDouble */ .chroma .s2 { @apply text-red-700 }
  /* LiteralStringEscape */ .chroma .se { @apply text-red-700 }
  /* LiteralStringHeredoc */ .chroma .sh { @apply text-red-700 }
  /* LiteralStringInterpol */ .chroma .si { @apply text-red-700 }
  /* LiteralStringOther */ .chroma .sx { @apply text-red-700 }
  /* LiteralStringRegex */ .chroma .sr { @apply text-red-700 }
  /* LiteralStringSingle */ .chroma .s1 { @apply text-red-700 }
  /* LiteralStringSymbol */ .chroma .ss { @apply text-red-700 }
  /* LiteralNumber */ .chroma .m {  }
  /* LiteralNumberBin */ .chroma .mb {  }
  /* LiteralNumberFloat */ .chroma .mf {  }
  /* LiteralNumberHex */ .chroma .mh {  }
  /* LiteralNumberInteger */ .chroma .mi {  }
  /* LiteralNumberIntegerLong */ .chroma .il {  }
  /* LiteralNumberOct */ .chroma .mo {  }
  /* Operator */ .chroma .o {  }
  /* OperatorWord */ .chroma .ow { @apply text-yellow-700 }
  /* Punctuation */ .chroma .p {  }
  /* Comment */ .chroma .c { @apply text-green-600 }
  /* CommentHashbang */ .chroma .ch { @apply text-green-600 }
  /* CommentMultiline */ .chroma .cm { @apply text-green-600 }
  /* CommentSingle */ .chroma .c1 { @apply text-green-600 }
  /* CommentSpecial */ .chroma .cs { @apply text-green-600 }
  /* CommentPreproc */ .chroma .cp { @apply text-yellow-700 }
  /* CommentPreprocFile */ .chroma .cpf { @apply text-yellow-700 }
  /* Generic */ .chroma .g {  }
  /* GenericDeleted */ .chroma .gd {  }
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericError */ .chroma .gr {  }
  /* GenericHeading */ .chroma .gh { font-weight: bold }
  /* GenericInserted */ .chroma .gi {  }
  /* GenericOutput */ .chroma .go {  }
  /* GenericPrompt */ .chroma .gp { font-weight: bold }
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu { font-weight: bold }
  /* GenericTraceback */ .chroma .gt {  }
  /* GenericUnderline */ .chroma .gl {  }
  /* TextWhitespace */ .chroma .w {  }
}
