@import "tailwindcss";

@layer base {
  
  body {
    @apply text-slate-950 antialiased bg-slate-50;
  }
  
  p {
    @apply mb-4;
  }
  
  h1 {
    @apply my-4 text-3xl pb-2 border-b border-gray-200;
  }
  
  h2 {
    @apply my-4 text-2xl font-semibold;
  }
  
  h3 {
    @apply my-4 text-xl font-semibold;
  }
  
  h4 {
    @apply my-4 font-semibold;
  }
  
  h5 {
    @apply my-4 italic;
  }

  h6 {
    @apply my-4 text-sm font-semibold;
  }

  a {
    @apply text-blue-900 hover:underline
  }

  div, p, ul, ol, pre:not(:last-child) {
    @apply mb-6;
  }

  ul {
    @apply list-disc ml-8;
  }

  ol {
    @apply list-decimal my-4;
  }

  li:not(:last-of-type) {
    @apply mb-2;
  }

  main {
    @apply max-w-5xl px-4 my-8 mx-auto;
  }

  table {
    @apply mb-1
  }
  
  tr {
    @apply odd:bg-slate-100;
  }
  
  th {
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: top;
  }
  
  td {  
    border: 1px solid #dbdbdb;
    border-width: 0 0 1px;
    padding: .5em .75em;
    vertical-align: top;
  }

  dt {
    font-weight: 700;
  }
  
  dd {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 0.9em;
  }


  figure {
    margin: 0;
  }
  
  figcaption {
    text-align: center;
  }

  blockquote {
    color: #666666;
    margin: 0;
    padding: 0.3em 0.3em 0.3em 1em;
    border-left: .5em #ababab solid;
    background-color: #f7f7f7;
  }

  blockquote.objectif {
    color: #2160c4;
    border-color: #3273dc;
    background-color: #eef3fc;
  }
  
  blockquote.info {
    color: #1d72aa;
    border-color: #3298dc;
    background-color: #eef6fc;
  }

  blockquote {
    color: #666666;
    margin: 0;
    padding: 0.3em 0.3em 0.3em 1em;
    border-left: .5em #ababab solid;
    background-color: #f7f7f7;
  }
  
  blockquote.primary {
    color: hsl(171, 100%, 29%);
    border-color: hsl(171, 100%, 41%);
    background-color: hsl(171, 100%, 96%);
  }
  
  blockquote.devoir {
    color: hsl(288, 100%, 29%);
    border-color: hsl(288, 100%, 41%);
    background-color: hsl(288, 100%, 96%);
  }
  
  blockquote.objectif {
    color: #2160c4;
    border-color: #3273dc;
    background-color: #eef3fc;
  }
  
  blockquote.info {
    color: #1d72aa;
    border-color: #3298dc;
    background-color: #eef6fc;
  }
  
  blockquote.prerequis {
    color: #1d72aa;
    border-color: #3298dc;
    background-color: #eef6fc;
  }
  
  blockquote.definition {
    color: #257942;
    border-color: #48c774;
    background-color: #effaf3;
  }
  
  blockquote.warning {
    color: #947600;
    border-color: #ffdd57;
    background-color: #fffbeb;
  }
  
  blockquote.warning p::before {
    content: '⚠️';
    font-size: 1.5em;
    margin-right: 0.25em;
  }
  
  blockquote.danger {
    color: #cc0f35;
    border-color: #f14668;
    background-color: #feecf0;
  }
  
  blockquote.danger p::before {
    content: '🛑';
    font-size: 1.5em;
    margin-right: 0.25em;
  }

/* Background */ .bg { background-color: #ffffff; }
/* PreWrapper */ .chroma { background-color: #ffffff; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* CodeLine */ .chroma .cl {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #0000ff }
/* KeywordConstant */ .chroma .kc { color: #0000ff }
/* KeywordDeclaration */ .chroma .kd { color: #0000ff }
/* KeywordNamespace */ .chroma .kn { color: #0000ff }
/* KeywordPseudo */ .chroma .kp { color: #0000ff }
/* KeywordReserved */ .chroma .kr { color: #0000ff }
/* KeywordType */ .chroma .kt { color: #2b91af }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na {  }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: #2b91af }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne {  }
/* NameFunction */ .chroma .nf {  }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt {  }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: #a31515 }
/* LiteralStringAffix */ .chroma .sa { color: #a31515 }
/* LiteralStringBacktick */ .chroma .sb { color: #a31515 }
/* LiteralStringChar */ .chroma .sc { color: #a31515 }
/* LiteralStringDelimiter */ .chroma .dl { color: #a31515 }
/* LiteralStringDoc */ .chroma .sd { color: #a31515 }
/* LiteralStringDouble */ .chroma .s2 { color: #a31515 }
/* LiteralStringEscape */ .chroma .se { color: #a31515 }
/* LiteralStringHeredoc */ .chroma .sh { color: #a31515 }
/* LiteralStringInterpol */ .chroma .si { color: #a31515 }
/* LiteralStringOther */ .chroma .sx { color: #a31515 }
/* LiteralStringRegex */ .chroma .sr { color: #a31515 }
/* LiteralStringSingle */ .chroma .s1 { color: #a31515 }
/* LiteralStringSymbol */ .chroma .ss { color: #a31515 }
/* LiteralNumber */ .chroma .m {  }
/* LiteralNumberBin */ .chroma .mb {  }
/* LiteralNumberFloat */ .chroma .mf {  }
/* LiteralNumberHex */ .chroma .mh {  }
/* LiteralNumberInteger */ .chroma .mi {  }
/* LiteralNumberIntegerLong */ .chroma .il {  }
/* LiteralNumberOct */ .chroma .mo {  }
/* Operator */ .chroma .o {  }
/* OperatorWord */ .chroma .ow { color: #0000ff }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #008000 }
/* CommentHashbang */ .chroma .ch { color: #008000 }
/* CommentMultiline */ .chroma .cm { color: #008000 }
/* CommentSingle */ .chroma .c1 { color: #008000 }
/* CommentSpecial */ .chroma .cs { color: #008000 }
/* CommentPreproc */ .chroma .cp { color: #0000ff }
/* CommentPreprocFile */ .chroma .cpf { color: #0000ff }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp { font-weight: bold }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
}
