.bloc { 
  width: 300px; 
  height: 150px; 
  background-repeat:none
}

.ext { 
  background:url(illustration.svg);
}

.uriM { 
  background-image: url("data:image/svg+xml,\
  <svg xmlns='http://www.w3.org/2000/svg' version='1.1'>\
  <circle cx='150' cy='75' r='70' fill='%233ed124'/>\
  </svg>"); 
}

.b64 { 
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+CiAgPGNpcmNsZSBjeD0iMTUwIiBjeT0iNzUiIHI9IjcwIiBmaWxsPSIjM2VkMTI0Ii8+Cjwvc3ZnPg==); 
}

.b64M { 
background-image: url("data:image/svg+xml;base64,\
PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdm\
ciIHZlcnNpb249IjEuMSI+CiAgPGNpcmNsZSBjeD0iMTUwIiBj\
eT0iNzUiIHI9IjcwIiBmaWxsPSIjM2VkMTI0Ii8+Cjwvc3ZnPg=="); 
}